<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="nucleo">
      <section name="applicationSettings" type="Nucleo.Global.Configuration.ApplicationSettingsSection,Nucleo" />
      <section name="pageSettings" type="Nucleo.Web.Pages.Configuration.PageSettingsSection,Nucleo.Web.WebForms" />
      <section name="fileMonitoringSettings" type="Nucleo.Web.Handlers.FileMonitoringHttpHandler,Nucleo.Web.WebForms" />
      <section name="contextSettings" type="Nucleo.Context.Configuration.ContextSettingsSection,Nucleo" />
      <section name="loggerSettings" type="Nucleo.Logs.Configuration.LoggerSettingsSection,Nucleo" />
      <section name="validationSettings" type="Nucleo.Validation.Configuration.ValidationSettingsSection,Nucleo" />
      <section name="stateManagement" type="Nucleo.State.Configuration.StateManagementSection,Nucleo" />
    </sectionGroup>
    <sectionGroup name="nucleo.web">
      <section name="externalScriptSettings" type="Nucleo.Web.Scripts.Configuration.ExternalScriptSettingsSection,Nucleo.Web.WebForms" />
      <section name="lookupRepositories" type="Nucleo.Lookups.Configuration.LookupRepositoriesSection,Nucleo" />
    </sectionGroup>
		<sectionGroup name="nucleo.web.mvp">
			<section name="presenterWebSettings" type="Nucleo.Web.Presentation.Configuration.PresenterWebSettingsSection, Nucleo.Mvp.WebForms" />
		</sectionGroup>
  </configSections>
  <appSettings>
    <add key="ParameterValue" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="NucleoDB" connectionString="data source=.\sqlexpress;attachdbfilename=D:\VS Projects\NucleoNet\Nucleo.UnitTests\bin\Debug\Nucleo_Testing.mdf;integrated security=true;user instance=true;"
      providerName="System.Data.SqlClient" />
    <add name="SamplesConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Samples;user id=samplesuser;password=password;Integrated Security=False"
      providerName="System.Data.SqlClient" />
    <add name="SamplesObjectContext" connectionString="metadata=res://*/Code.Data.Entities.Samples.csdl|res://*/Code.Data.Entities.Samples.ssdl|res://*/Code.Data.Entities.Samples.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Samples;integrated security=false;user id=samplesuser;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AdventureWorksObjectContext" connectionString="metadata=res://*/Code.Data.Entities.AdventureWorks.csdl|res://*/Code.Data.Entities.AdventureWorks.ssdl|res://*/Code.Data.Entities.AdventureWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=AdventureWorks;persist security info=True;user id=adwuser;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AdventureWorksConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=adwuser;Password=password"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <nucleo>
    <applicationSettings defaultConnectionStringName="NucleoDB" isTesting="true">
      <settings>
        <add name="Environment" value="Development" />
        <add name="WriteDebugStatements" value="False" />
        <add name="EnableAuditingModule" value="True" />
        <add name="EnableLockdownModule" value="False" />
        <add name="ApplicationTimeout" value="20" />
        <add name="PasswordLockoutCount" value="3" />
        <add name="PasswordReuseCount" value="5" />
      </settings>
    </applicationSettings>
    <pageSettings cacheManagerType="Nucleo.Web.Services.AspNetCachingManager,Nucleo.Web.WebForms" />
    <fileMonitoringSettings>
      <paths>
        <add name="Default" value="C:\Windows\Temp\FileMonitoring" />
      </paths>
    </fileMonitoringSettings>
    <loggerSettings currentVerbosityName="Verbose">
      <logManagers>
        <add name="Events" type="Nucleo.Logs.EventLogManager,Nucleo" />
        <add name="HealthMonitoring" type="Nucleo.Web.Logs.HealthMonitoringLogManager,Nucleo.Web.WebForms" />
        <add name="PageTracing" type="Nucleo.Web.Logs.WebTraceLogManager,Nucleo.Web.WebForms" />
      </logManagers>
    </loggerSettings>
    <validationSettings defaultProvider="DataAnnotations" useFirstFoundProviderOnly="false" throwOnInvalid="false">
      <providers>
        <add name="DataAnnotations" type="Nucleo.Validation.DataAnnotationsValidationProvider,Nucleo" />
      </providers>
    </validationSettings>
    <stateManagement>
      <stateProperties>
        <add name="Unauthenticated Users Allowed" defaultValue="False" isolation="Shared" />
        <add name="Theme" defaultValue="Vista" isolation="PerUser" />
      </stateProperties>
      <stateRegions>
        <region name="WebInteractionStateManagerFirstLook">
          <properties>
            <add name="CurrentMode" defaultValue="Read" isolation="Shared" />
            <add name="PageIndex" defaultValue="0" isolation="Shared" />
            <add name="PageSize" defaultValue="20" isolation="Shared" />
            <add name="MenuPosition" defaultValue="10,10" isolation="PerUser" />
          </properties>
        </region>
      </stateRegions>
      <valueProviders>
        <add name="Xml" type="Nucleo.State.XmlStateValuesProvider,Nucleo" xmlFolder="C:\Content\VS Projects\Nucleo\4.0\Demos.WebForms\App_Data\" />
      </valueProviders>
    </stateManagement>
  </nucleo>
  <nucleo.web>
    <externalScriptSettings>
      <externalScripts>
        <add name="jquery" debugPath="~/Content/Scripts/jquery.js" releasePath="~/Content/Scripts/jquery.js" />
        <add name="jqueryui" debugPath="~/Content/Scripts/jqueryui.js" releasePath="~/Content/Scripts/jqueryui.js" />
        <!--
				<add name="jquerydraggable" debugPath="~/Content/Scripts/ui.draggable.js" releasePath="~/Content/Scripts/ui.draggable.js"/>
				<add name="jquerydroppable" debugPath="~/Content/Scripts/ui.droppable.js" releasePath="~/Content/Scripts/ui.droppable.js"/>
				-->
      </externalScripts>
    </externalScriptSettings>
    <lookupRepositories>
      <mappings>
        <add name="Countries" type="Nucleo.Framework.Lookups.CountriesLookupRepository,Demos.WebForms" />
      </mappings>
    </lookupRepositories>
  </nucleo.web>
	<nucleo.web.mvp>
		<presenterWebSettings>
			<presenters>
				<add typeName="ConfigAjaxCallbackPresenter">
					<ajaxMethods>
						<add methodName="AddItem" />
						<add methodName="GetItems" />
					</ajaxMethods>
				</add>
			</presenters>
		</presenterWebSettings>
	</nucleo.web.mvp>
	<system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <membership defaultProvider="demo">
      <providers>
        <add name="demo" type="Nucleo.Security.DemoMembershipProvider,Demos.WebForms" />
      </providers>
    </membership>
    <pages clientIDMode="AutoID" />
    <httpHandlers>
      <add verb="GET,POST" path="AJAXFileMonitoring.axd" type="Nucleo.Web.Handlers.FileMonitoringHttpHandler,Nucleo.Web.WebForms" validate="false" />
			<add verb="GET,POST" path="PresenterAjax.axd" type="Nucleo.Web.Ajax.PresenterAjaxHandler,Nucleo.Mvp.WebForms" validate="false" />
    </httpHandlers>
    <healthMonitoring enabled="true" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <location path="FileMonitoring.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	<location path="PresenterAjax.axd">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="Nucleo.WebServices.ViewWcfServiceAspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
				<behavior name="Nucleo.WebServices.MvpSampleCompositeWcfServiceAspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="Nucleo.WebServices.MvpSampleWcfService">
				<endpoint address="" behaviorConfiguration="Nucleo.WebServices.ViewWcfServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Nucleo.WebServices.MvpSampleWcfService" />
			</service>
			<service name="Nucleo.WebServices.MvpSampleCompositeWcfService">
				<endpoint address="" behaviorConfiguration="Nucleo.WebServices.MvpSampleCompositeWcfServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Nucleo.WebServices.MvpSampleCompositeWcfService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>