<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="nucleo">
			<section name="applicationSettings" type="Nucleo.Global.Configuration.ApplicationSettingsSection,Nucleo.40"/>
			<section name="pageSettings" type="Nucleo.Web.Pages.Configuration.PageSettingsSection,Nucleo.Web.40"/>
			<section name="fileMonitoringSettings" type="Nucleo.Web.Handlers.FileMonitoringHttpHandler,Nucleo.Web.40"/>
			<section name="contextSettings" type="Nucleo.Context.Configuration.ContextSettingsSection,Nucleo.40"/>
			<section name="loggerSettings" type="Nucleo.Logs.Configuration.LoggerSettingsSection,Nucleo.40"/>
			<section name="validationSettings" type="Nucleo.Validation.Configuration.ValidationSettingsSection,Nucleo.40"/>
			<section name="stateManagement" type="Nucleo.State.Configuration.StateManagementSection,Nucleo.40"/>
		</sectionGroup>
		<sectionGroup name="nucleo.web">
			<section name="externalScriptSettings" type="Nucleo.Web.Scripts.Configuration.ExternalScriptSettingsSection,Nucleo.Web.40"/>
			<section name="lookupRepositories" type="Nucleo.Lookups.Configuration.LookupRepositoriesSection,Nucleo.40"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="ParameterValue" value="1"/>
	</appSettings>
	<connectionStrings>
		<add name="NucleoDB" connectionString="data source=.\sqlexpress;attachdbfilename=D:\VS Projects\NucleoNet\Nucleo.UnitTests\bin\Debug\Nucleo_Testing.mdf;integrated security=true;user instance=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<nucleo>
		<applicationSettings defaultConnectionStringName="NucleoDB" isTesting="true">
			<settings>
				<add name="Environment" value="Development"/>
				<add name="WriteDebugStatements" value="False"/>
				<add name="EnableAuditingModule" value="True"/>
				<add name="EnableLockdownModule" value="False"/>
				<add name="ApplicationTimeout" value="20"/>
				<add name="PasswordLockoutCount" value="3"/>
				<add name="PasswordReuseCount" value="5"/>
			</settings>
		</applicationSettings>
		<pageSettings cacheManagerType="Nucleo.Web.Services.AspNetCachingManager,Nucleo.Web.40"/>
		<fileMonitoringSettings>
			<paths>
				<add name="Default" value="C:\Windows\Temp\FileMonitoring"/>
			</paths>
		</fileMonitoringSettings>
		<contextSettings serviceRegistryType="Nucleo.SampleClasses.Context.SampleApplicationLoader,Nucleo.OnlineTests" />
		<loggerSettings currentVerbosityName="Verbose">
			<logManagers>
				<add name="Events" type="Nucleo.Logs.EventLogManager,Nucleo.40"/>
				<add name="HealthMonitoring" type="Nucleo.Web.Logs.HealthMonitoringLogManager,Nucleo.Web.40"/>
				<add name="PageTracing" type="Nucleo.Web.Logs.WebTraceLogManager,Nucleo.Web.40"/>
			</logManagers>
		</loggerSettings>
		<validationSettings defaultProvider="DataAnnotations" useFirstFoundProviderOnly="false" throwOnInvalid="false">
			<providers>
				<add name="DataAnnotations" type="Nucleo.Validation.DataAnnotationsValidationProvider,Nucleo.40"/>
			</providers>
		</validationSettings>
		<stateManagement>
			<stateProperties>
				<add name="Unauthenticated Users Allowed" defaultValue="False" isolation="Shared"/>
				<add name="Theme" defaultValue="Vista" isolation="PerUser"/>
			</stateProperties>
			<stateRegions>
				<region name="WebInteractionStateManagerFirstLook">
					<properties>
						<add name="CurrentMode" defaultValue="Read" isolation="Shared"/>
						<add name="PageIndex" defaultValue="0" isolation="Shared"/>
						<add name="PageSize" defaultValue="20" isolation="Shared"/>
						<add name="MenuPosition" defaultValue="10,10" isolation="PerUser"/>
					</properties>
				</region>
			</stateRegions>
			<valueProviders>
				<add name="Xml" type="Nucleo.State.XmlStateValuesProvider,Nucleo.40" xmlFolder="D:\VS Projects\NucleoNet\Nucleo.OnlineTests\App_Data\"/>
			</valueProviders>
		</stateManagement>
	</nucleo>
	<nucleo.web>
		<externalScriptSettings>
			<externalScripts>
				<add name="jquery" debugPath="~/Content/Scripts/jquery.js" releasePath="~/Content/Scripts/jquery.js"/>
				<add name="jqueryui" debugPath="~/Content/Scripts/jqueryui.js" releasePath="~/Content/Scripts/jqueryui.js"/>
				<!--
				<add name="jquerydraggable" debugPath="~/Content/Scripts/ui.draggable.js" releasePath="~/Content/Scripts/ui.draggable.js"/>
				<add name="jquerydroppable" debugPath="~/Content/Scripts/ui.droppable.js" releasePath="~/Content/Scripts/ui.droppable.js"/>
				-->
			</externalScripts>
		</externalScriptSettings>
		<lookupRepositories>
			<mappings>
				<add name="Countries" type="Nucleo.Framework.Lookups.CountriesLookupRepository,Nucleo.OnlineTests" />
			</mappings>
		</lookupRepositories>
	</nucleo.web>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
				<add tagPrefix="n" namespace="Nucleo.SampleComponents" assembly="Nucleo.OnlineTests"/>
				<add tagPrefix="n" namespace="Nucleo.Web" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.AccordionControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.ButtonControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.ContainerControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.ContentControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.Controls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.DataSourceControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.DropDownControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.EditorControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.FormControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.ListControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.MappingControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.MathControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.NavigationControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.Scripts" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.StandardizationControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.State" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.ValidationControls" assembly="Nucleo.Web.40"/>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="GET,POST" path="AJAXFileMonitoring.axd" type="Nucleo.Web.Handlers.FileMonitoringHttpHandler,Nucleo.Web.40" validate="false"/>
		</httpHandlers>
		<healthMonitoring enabled="true"/>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>

	<location path="FileMonitoring.axd">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
