<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="nucleo.mvp">
			<section name="frameworkSettings" type="Nucleo.Core.Configuration.FrameworkSettingsSection, Nucleo.Mvp.40" />
		</sectionGroup>
		<sectionGroup name="nucleo.web.mvp">
			<section name="presenterWebSettings" type="Nucleo.Web.Presentation.Configuration.PresenterWebSettingsSection, Nucleo.Web.Mvp.40"/>
		</sectionGroup>
	</configSections>

	<nucleo.mvp>
		<frameworkSettings presenterCacheTypeName="Nucleo.Web.Presentation.HttpContextPresenterContextCache,Nucleo.Web.Mvp.40">
			<discoveryTypeNames>
				<add typeName="Nucleo.Tests.PresenterLoading.{0}Presenter,Nucleo.OnlineMVPTests" />
			</discoveryTypeNames>
		</frameworkSettings>
	</nucleo.mvp>
	<nucleo.web.mvp>
		<presenterWebSettings>
			<presenters>
				<add typeName="ConfigAjaxCallbackPresenter">
					<ajaxMethods>
						<add methodName="AddItem" />
						<add methodName="GetItems" />
					</ajaxMethods>
				</add>
			</presenters>
		</presenterWebSettings>
	</nucleo.web.mvp>
	
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="act" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
				<add tagPrefix="n" namespace="Nucleo.Web" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.AccordionControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.ButtonControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.ContainerControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.ContentControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.Controls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.DataSourceControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.DropDownControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.EditorControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.FormControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.ListControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.MappingControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.MathControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.NavigationControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.Scripts" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.State" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.State" assembly="Nucleo.Web.Mvp.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.ValidationControls" assembly="Nucleo.Web.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.Mvp.Controls" assembly="Nucleo.Web.Mvp.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.Mvp.BindingControls" assembly="Nucleo.Web.Mvp.40"/>
				<add tagPrefix="n" namespace="Nucleo.Web.Mvp.DataSourceControls" assembly="Nucleo.Web.Mvp.40"/>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="GET,POST" path="PresenterAjax.axd" type="Nucleo.Web.Ajax.PresenterAjaxHandler,Nucleo.Web.Mvp.40" validate="false"/>
		</httpHandlers>
	</system.web>

	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>

	<location path="PresenterAjax.axd">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
 <system.serviceModel>
  <behaviors>
   <endpointBehaviors>
    <behavior name="Nucleo.WebServices.ViewWcfServiceAspNetAjaxBehavior">
     <enableWebScript />
    </behavior>
    <behavior name="Nucleo.WebServices.MvpSampleCompositeWcfServiceAspNetAjaxBehavior">
     <enableWebScript />
    </behavior>
   </endpointBehaviors>
  </behaviors>
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
  <services>
   <service name="Nucleo.WebServices.MvpSampleWcfService">
    <endpoint address="" behaviorConfiguration="Nucleo.WebServices.ViewWcfServiceAspNetAjaxBehavior"
     binding="webHttpBinding" contract="Nucleo.WebServices.MvpSampleWcfService" />
   </service>
   <service name="Nucleo.WebServices.MvpSampleCompositeWcfService">
    <endpoint address="" behaviorConfiguration="Nucleo.WebServices.MvpSampleCompositeWcfServiceAspNetAjaxBehavior"
     binding="webHttpBinding" contract="Nucleo.WebServices.MvpSampleCompositeWcfService" />
   </service>
  </services>
 </system.serviceModel>
</configuration>
