<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="nucleo">
			<section name="applicationSettings" type="Nucleo.Global.Configuration.ApplicationSettingsSection,Nucleo" />
			<section name="contextSettings" type="Nucleo.Context.Configuration.ContextSettingsSection,Nucleo.40" />
			<section name="loggerSettings" type="Nucleo.Logs.Configuration.LoggerSettingsSection,Nucleo.40" />
			<section name="stateManagement" type="Nucleo.State.Configuration.StateManagementSection,Nucleo.40" />
			<section name="validationSettings" type="Nucleo.Validation.Configuration.ValidationSettingsSection,Nucleo.40" />
		</sectionGroup>
		<sectionGroup name="nucleo.orm">
			<section name="objectContextSettings" type="Nucleo.Orm.Configuration.ObjectContextSettingsSection, Nucleo.Orm.LinqToEntities.40" />
			<section name="dataContextSettings" type="Nucleo.Orm.Configuration.DataContextSettingsSection, Nucleo.Orm.LinqToSql.40" />
		</sectionGroup>
 </configSections>
	<nucleo>
		<applicationSettings defaultConnectionStringName="NucleoDB" isTesting="true">
			<settings>
				<add name="Environment" value="Development" />
				<add name="WriteDebugStatements" value="False" />
				<add name="EnableAuditingModule" value="True" />
				<add name="EnableLockdownModule" value="False" />
				<add name="ApplicationTimeout" value="20" />
				<add name="PasswordLockoutCount" value="3" />
				<add name="PasswordReuseCount" value="5" />
			</settings>
		</applicationSettings>
		<contextSettings contextLoaderType="Nucleo.Context.IntegrationContextLoader,Nucleo.IntegrationTests.40" contextProviderType="Nucleo.Context.InlineApplicationContextProvider,Nucleo.40" />
		<loggerSettings currentVerbosityName="Normal">
			<logManagers>
				<add name="fake" type="Nucleo.Logs.FakeLogManager,Nucleo.40" />
				<add name="console" type="Nucleo.Logs.ConsoleLogManager,Nucleo.40" />
				<add name="events" type="Nucleo.Logs.EventLogManager,Nucleo.40" />
			</logManagers>
		</loggerSettings>
		<stateManagement>
			<valueProviders defaultProvider="Xml">
				<providers>
					<add name="Xml" type="Nucleo.State.XmlStateValuesProvider,Nucleo.40" path="\TestData\StateManager" />
					<add name="Fake" type="Nucleo.State.FakeStateValuesProvider,Nucleo.40" />
				</providers>
			</valueProviders>
		</stateManagement>
		<validationSettings defaultProvider="BusinessTestClassProvider" useFirstFoundProviderOnly="false" throwOnInvalid="false">
			<providers>
				<add name="BusinessTestClassProvider" type="Nucleo.Validation.BusinessTestClassValidationProvider,Nucleo.IntegrationTests.40" />
			</providers>
		</validationSettings>
	</nucleo>
	<nucleo.orm>
		<objectContextSettings connectionStringName="AdventureWorksObjectContext" shouldFireTriggers="true">

		</objectContextSettings>
		<dataContextSettings connectionStringName="Nucleo.Properties.Settings.AdventureWorksConnectionString" shouldFireTriggers="true">
			<dataClasses>
				<add dataClassName="Product">
					<triggers>
						<add name="DataContextManagerTestDataTrigger" type="Nucleo.TestData.DataObjects.DataContextManagerTestDataTrigger,Nucleo.IntegrationTests.40" />
					</triggers>
				</add>
			</dataClasses>
		</dataContextSettings>
	</nucleo.orm>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<connectionStrings>
  <add name="IntegrationTestDataObjectContext" connectionString="metadata=res://*/TestData.Entities.IntegrationTestData.csdl|res://*/TestData.Entities.IntegrationTestData.ssdl|res://*/TestData.Entities.IntegrationTestData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=NucleoIntegrationTests;Integrated Security=True;MultipleActiveResultSets=True&quot;"
   providerName="System.Data.EntityClient" />
  <add name="Nucleo.Properties.Settings.AdventureWorksConnectionString"
   connectionString="Data Source=.;Initial Catalog=AdventureWorks;Integrated Security=True" />
  <add name="Nucleo.Properties.Settings.NucleoIntegrationTestsConnectionString"
   connectionString="Data Source=.;Initial Catalog=NucleoIntegrationTests;Integrated Security=True" />
 </connectionStrings>
</configuration>